.modal-button-wrapper-dictionary {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0rem 0;
}

.modal-title-dictionary {
    display: flex;
    justify-content: center;
}

.modal-button-dictionary {
    box-shadow: none !important;
}

.center-para-dictionary {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.para-dictionary {
    min-height: 6rem;
}

.part-of-speech-dictionary {
    font-weight: var(--font-bold);
    color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

.span-count-dictionary {
    font-size: var(--font-smaller);
    font-weight: var(--font-semibold);
}
